body{
    background-color: antiquewhite;
}
/*Header Section   */
header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
header img{
    height: 90px;
    width: 90px;
    border-radius: 50px;
}
header input{
    height: 35px;
    width: 200px;
    border-radius: 50px; 
    padding: 10px;
    font-size: medium;

}
header input:hover{
background-color: rgb(216, 112, 112);

}
header nav{
    gap: 20px;
    display: flex;
}
header nav a{
    
    text-decoration: none;
    color: black;
    font-weight: 800;
    
}
header nav a:hover{
    color: rgb(216, 112, 112);
}
/* Main Area */
h2{
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 15px;
    font-weight: 400;
}
img{
    border-radius: 10px;
    border-color: rgb(216, 112, 112);
}

ol{
    display: flex;
    justify-content: space-around;
}
ol li a {
    color: black;
    font-size: 20px;
    display: flex;
}
ol li a:hover{
    color: rgb(216, 112, 112);
} 
h3{
    text-align: center;
}
/*Form Area */
.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
    border: 4px solid black;
    padding: 20px;
    width: 300px;
}
form input,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}